
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UNICREDIT</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="~/imgs/logo.png" />


    @*@Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")*@
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
    @Styles.Render("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    @Styles.Render("~/Plugins/select2/select2.min.css")
    @Styles.Render("~/Content/dist/css/admin-lte.css")
    @Styles.Render("~/Plugins/timepicker/bootstrap-timepicker.css")
    @Styles.Render("~/Content/dist/css/skins/skin-red-light.css")
    @Styles.Render("~/Content/dist/css/skins/skin-red.css")
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.css")
    @Styles.Render("~/Plugins/TimeCircles/TimeCircles.css")
    @Styles.Render("~/Plugins/fullcalendar/fullcalendar.css")
    @Styles.Render("~/Plugins/contextmenu/jquery.contextMenu.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/datatables/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/datatables/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/datatables/buttons/css/buttons.dataTables.min.css")

    @Styles.Render("~/Content/dist/css/animate.css")
    @Styles.Render("~/Content/dist/css/bac-sgrc.css")

    @Scripts.Render("~/Content/plugins/jquery/js/jQuery-2.1.4.min.js")
    @Scripts.Render("~/Content/plugins/jquery/js/jquery-ui.min.js")
    @Scripts.Render("~/Content/plugins/jquery/js/jquery.mask.min.js")

    @Scripts.Render("~/Content/datatables/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/bootstrap/js/moment.js")
    @Scripts.Render("~/Content/datatables/js/dataTables.bootstrap.min.js")


    @Scripts.Render("~/Content/bootstrap/js/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap-datetimepicker.es.js")
    @Scripts.Render("~/Plugins/select2/select2.full.js")
    @Scripts.Render("~/Plugins/timepicker/bootstrap-timepicker.js")
    @Scripts.Render("~/Plugins/jQueryUI/jquery-ui.js")
    @Scripts.Render("~/Plugins/fullcalendar/fullcalendar.js")
    @Scripts.Render("~/Plugins/fullcalendar/locale-all.js")
    @Scripts.Render("~/Plugins/contextmenu/jquery.contextMenu.js")
    @Scripts.Render("~/Plugins/contextmenu/jquery.ui.position.js")
    @Scripts.Render("~/Plugins/TimeCircles/TimeCircles.js")
    @Scripts.Render("~/Plugins/printThis-master/printThis.js")
    @Scripts.Render("~/Plugins/cryptoJS/aes.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.js")


    <!--Archivos necesarios para el DataTables exporte a Excel-->

    @Scripts.Render("~/Content/datatables/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/buttons.print.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/jszip.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/buttons.html5.min.js")
    @Styles.Render("~/Content/datatables/js/extensions/FixedHeader/css/fixed.header.min.css")
    @Scripts.Render("~/Content/datatables/js/extensions/FixedHeader/js/fixed.header.min.js")

    @Scripts.Render("~/Scripts/bootbox.js")
</head>



<body class="hold-transition skin-red sidebar-mini bac">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Dashboard", "Home")" class="logo smooth-transition" style="font-size:14px;">
                <span class="logo-mini"><img src="~/imgs/logo.png" height="34px" /></span>
                <span class="logo-lg"><img src="~/imgs/horizontal.png" height="34px" /></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle smooth-transition" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Menu</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdow">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Tienes 4 mensajes</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Admin Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">Ver todos los mensajes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdow">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown tasks-menu hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdow">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p class="userName"></p>
                        <a href="#" class="hide"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form hide">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">MENÚ PRINCIPAL</li>
                    <li id="LSM_CONF" class="treeview hide LSM LSM_CONF">
                        <a href="#" title="Configuración">
                            <i class="fa fa-cogs"></i> <span>Configuración</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_CONF010" class="hide LSM LSM_CONF010"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Configuracion")" title="Catálogos Generales"><i class="fa fa-circle-o"></i> Catálogos Generales</a></li>
                            <li id="LSM_CONF020" class="hide LSM LSM_CONF020"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Prioridades")" title="Prioridades"><i class="fa fa-circle-o"></i> Prioridades</a></li>
                            <li id="LSM_CONF030" class="hide LSM LSM_CONF030"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Feriados")" title="Feriados"><i class="fa fa-circle-o"></i> Feriados</a></li>
                            <li id="LSM_CONF040" class="hide LSM LSM_CONF040"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Tramites")" title="Trámites"><i class="fa fa-circle-o"></i> Trámites</a></li>
                            <li id="LSM_CONF050" class="hide LSM LSM_CONF050"><a class="text-ellipsis smooth-transition" href="@Url.Action("tipo_razones", "TipoRazones")" title=" Razones de Cancelación"><i class="fa fa-circle-o"></i> Razones de Cancelación</a></li>
                            <li id="LSM_CONF050" class="hide LSM LSM_CONF050"><a class="text-ellipsis smooth-transition" href="@Url.Action("tipo_razones_autoservicio", "TipoRazones")" title=" Razones de Cancelación Autoservicio"><i class="fa fa-circle-o"></i> Razones de Cancelación Autoservicio</a></li>
                            <li id="LSM_CONF060" class="hide LSM LSM_CONF060"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Sucursales")" title="Sucursales"><i class="fa fa-circle-o"></i> Sucursales</a></li>
                            <li id="LSM_CONF070" class="hide LSM LSM_CONF070"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Emisores")" title="Emisores"><i class="fa fa-circle-o"></i> Emisores</a></li>
                            <li>
                                <a href="#" title="Configuraciones de Motor">
                                    <i class="fa fa-caret-down"></i><span>Configuraciones de Motor</span><i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="LSM_CONF090" class="hide LSM LSM_CONF090"><a class="text-ellipsis smooth-transition" href="@Url.Action("index","Funciones")" title="Funciones"><i class="fa fa-circle-o"></i> Funciones</a></li>
                                    <li id="LSM_CONF080" class="hide LSM LSM_CONF080"><a class="text-ellipsis smooth-transition" href="@Url.Action("index","Variables")" title="Variables"><i class="fa fa-circle-o"></i> Variables</a></li>
                                    <li id="LSM_CONF100" class="hide LSM LSM_CONF100"><a class="text-ellipsis smooth-transition" href="@Url.Action("index","ConfiguracionesMotor")" title="Configuraciones de Motor de Retenciones"><i class="fa fa-circle-o"></i> Configuraciones Motor Rentenciones</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="LSM_PDCC" class="treeview hide LSM LSM_CONF">
                        <a href="#" title="Programación de citas">
                            <i class="fa fa-calendar"></i> <span>Programación de citas</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_PDCC010" class="hide LSM LSM_PDCC010"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Citas")" title="Programar Citas"><i class="fa fa-circle-o"></i> Programar Cita</a></li>
                            <li id="LSM_PDCC020" class="hide LSM LSM_PDCC020"><a class="text-ellipsis smooth-transition" href="@Url.Action("programacion_cc", "Citas")" title="Programar Citas (CC)"><i class="fa fa-circle-o"></i> Programar Citas (CC)</a></li>
                        </ul>
                    </li>
                    <li id="LSM_ADCC" class="treeview hide LSM LSM_ADCC">
                        <a href="#" title="Clientes">
                            <i class="fa fa-address-book-o"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            @*<li id="LSM_ADCC010" class="hide LSM LSM_ADCC010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Bienvenida", "AtencionCitas")" title="Información Clientes"><i class="fa fa-circle-o"></i> Información Clientes</a></li>*@
                            <li id="LSM_ADCC030" class="hide LSM LSM_ADCC030"><a class="text-ellipsis smooth-transition" href="@Url.Action("Clientes", "Clientes")" title="Información Clientes"><i class="fa fa-circle-o" onclick="nuevaCita()" id="btn_nueva_cita"></i> Información Clientes</a></li>
                        </ul>
                    </li>
                    <li id="LSM_MTR" class="treeview hide LSM LSM_MTR">
                        <a href="#" title="Créditos">
                            <i class="fa fa-credit-card"></i> <span>Créditos</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_MTR020" class="hide LSM LSM_MTR020"><a class="text-ellipsis smooth-transition" href="@Url.Action("Aprobacion_Creditos", "Clientes")" title="Aprobación de Créditos"><i class="fa fa-circle-o"></i> Aprobación de Créditos</a></li>
                            <li id="LSM_MTR020" onclick="Proyeccion_Plan(event)"><a class="text-ellipsis smooth-transition" title="Proyección de Plan de Pago"><i class="fa fa-circle-o"></i>Proyección de Plan de Pago</a></li>
                            @*<li id="LSM_MTR030" class="hide LSM LSM_MTR030"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionReversion")" title="Reversiones"><i class="fa fa-circle-o"></i> Reversiones</a></li>*@
                            @*<li id="LSM_MTR040" class="hide LSM LSM_MTR040"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionTasa")" title="Tasas"><i class="fa fa-circle-o"></i> Tasas</a></li>
                            <li id="LSM_MTR050" class="hide LSM LSM_MTR050"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionCombo")" title="Combos"><i class="fa fa-circle-o"></i> Combos</a></li>*@
                        </ul>
                    </li>
                    <li id="LSM_MTR" class="treeview hide LSM LSM_MTR">
                        <a href="#" title="Caja">
                            <i class="fa fa-credit-card"></i> <span>Caja</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_MTR020" onclick="Mantenimiento_dias(event)" class="hide LSM LSM_MTR020"><a class="text-ellipsis smooth-transition" title="Mantenimiento de Cierres"><i class="fa fa-circle-o"></i>Mantenimiento de Cierres</a></li>
                            @*<li id="LSM_MTR020" class="hide LSM LSM_MTR020"><a class="text-ellipsis smooth-transition" href="@Url.Action("Aprobacion_Creditos", "Clientes")" title="Mantenimiento de dias"><i class="fa fa-circle-o"></i>Mantenimiento de dias</a></li>*@
                        </ul>
                    </li>
                    <li id="LSM_CYRS" class="treeview hide LSM LSM_CRE010">
                        <a href="#" title="Explotación de datos">
                            <i class="fa fa-pie-chart"></i> <span>Explotación de datos</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_Clientes", "Clientes")" title=" Clientes"><i class="fa fa-circle-o"></i> Reporte Clientes</a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_Creditos", "Clientes")" title=" Préstamos Por Estado"><i class="fa fa-circle-o"></i> Reporte Préstamos por Estado</a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_PresPorCliente", "Clientes")" title="Préstamos Por Cliente"><i class="fa fa-circle-o"></i> Préstamos por Cliente </a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_PrestamosVencidos", "Clientes")" title="Préstamos Vencidos"><i class="fa fa-circle-o"></i> Préstamos Vencidos </a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_PresYsusCuotas", "Clientes")" title="Préstamos y Sus Cuotas Por Cliente"><i class="fa fa-circle-o"></i> Préstamos y Sus Cuotas Por Cliente </a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_CobranzasHoy", "Clientes")" title="Cobranzas Por Fecha"><i class="fa fa-circle-o"></i> Cobranzas Por Fecha </a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_PrestamosConMora", "Clientes")" title="Prèstamos Con Mora"><i class="fa fa-circle-o"></i> Prèstamos Con Mora </a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_TotalesDineroCobrado", "Clientes")" title="Totales de Dinero Cobrado"><i class="fa fa-circle-o"></i> Totales de Dinero Cobrado </a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CRE010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Reporte_PrestamosPagados", "Clientes")" title="Préstamos Pagados"><i class="fa fa-circle-o"></i> Préstamos Pagados </a></li>

                            @*<li id="LSM_CYRS010" class="hide LSM LSM_CYRS010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_estatus_cita", "Reportes")" title="Dashboard de Citas"><i class="fa fa-circle-o"></i> Dashboard de Citas</a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CYRS020"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_atencion_asesor", "Reportes")" title="Dashboard  Walk in"><i class="fa fa-circle-o"></i> Dashboard  Walk IN</a></li>
                            <li id="LSM_CYRS030" class="hide LSM LSM_CYRS030"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_flujo_por_intervalo", "Reportes")" title="Dashboard Flujo por intervalo"><i class="fa fa-circle-o"></i> Dashboard Flujo por Intervalo</a></li>
                            <li id="LSM_CYRS040" class="hide LSM LSM_CYRS040"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_de_efectividad", "Reportes")" title="Dashboard de efectividad"><i class="fa fa-circle-o"></i> Dashboard de Efectividad</a></li>
                            <li id="LSM_CYRS050" class="hide LSM LSM_CYRS050"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_consolidado", "Reportes")" title="Dashboard consolidado"><i class="fa fa-circle-o"></i> Dashboard Consolidado</a></li>
                            <li id="LSM_CYRS080" class="hide LSM LSM_CYRS080"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_razon_cancelacion", "Reportes")" title="Dashboard razón de cancelación"><i class="fa fa-circle-o"></i> Dashboard Razón de Cancelación</a></li>
                            <li id="LSM_CYRS090" class="hide LSM LSM_CYRS090"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_citas_programadas", "Reportes")" title="Dashboard Citas Programadas"><i class="fa fa-circle-o"></i> Dashboard Citas Programadas</a></li>
                            <li id="LSM_CYRS100" class="hide LSM LSM_CYRS100"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_atenciones_realizadas", "Reportes")" title="Dashboard de Operación"><i class="fa fa-circle-o"></i> Dashboard de Operación</a></li>
                            <li id="LSM_CYRS110" class="hide LSM LSM_CYRS110"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_comportamiento_incidencia", "Reportes")" title="Dashboard de Comportamiento de Incidencias"><i class="fa fa-circle-o"></i> Dashboard de Comportamiento de Incidencias</a></li>
                            <li id="LSM_CYRS120" class="hide LSM LSM_CYRS120"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_Atencion_por_tiempo_espera", "Reportes")" title="Dashboard Atencion por tiempo espera"><i class="fa fa-circle-o"></i> Dashboard Atencion por Tiempo Espera</a></li>
                            <li id="LSM_CYRS130" class="hide LSM LSM_CYRS130"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_MantaDatos", "Reportes")" title="Dashboard manta de datos"><i class="fa fa-circle-o"></i> Dashboard Manta de Datos</a></li>*@
                        </ul>
                    </li>
                    
                    @*<li id="LSM_DPCF" class="treeview hide LSM LSM_DPCF">
                        <a href="#" title="Vista Citas Clientes">
                            <i class="fa fa-clock-o"></i> <span>Vista Citas Clientes</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_DPCF01" class="hide LSM LSM_DPCF01"><a class="text-ellipsis smooth-transition" href="@Url.Action("Vista_cita_cliente", "Citas")" title="Vista Citas Clientes"><i class="fa fa-circle-o"></i> Vista Citas Clientes</a></li>
                        </ul>
                    </li>*@
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="row">
                <section id="MyAlerts">
                    <div class="col-md-12">
                        <div data-alerts="alerts" data-titles="{&quot;danger&quot;: &quot;&lt;em&gt;Advertencia!&lt;/em&gt;&quot;}" data-ids="error" data-fade="5000"></div>
                        <div data-alerts="alerts" data-titles="{&quot;success&quot;: &quot;&lt;em&gt;Correcto!&lt;/em&gt;&quot;}" data-ids="success" data-fade="5000"></div>
                    </div>
                </section>
            </div>
            <section class="bac content-header hide">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Dashboard", "Home")" title=""><i class="fa fa-dashboard"></i></a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>
<!-- Modal -->
<div class="modal fade" id="Moda_mantenimiento_dias" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="theHeader">Mantenimiento de Cierres</span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidden_id" />
                <div id="form">
                    <div class="row">
                    <div class="form-group input-group-sm date col-md-6">
                        <label for="fechaCierre">Fecha</label>
                        <div class='input-group input-group-sm date' id="fecha1">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            <input type='text' class="form-control limpiar" id="fechaCierre" readonly="">
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                        @*<div class="form-group input-group-sm">
                                <label for="EstadoDia">Estado</label>
                                <div>
                                <input id="EstadoDia" type="checkbox" data-val="true" name="EstadoDia" />
                                </div>
                                <div class="validation-error"><p></p></div>
                            </div>*@
                         <div class="col-sm-6">
                            <div class="form-group input-group-sm">
                                <label for="EstadoDia">Estado</label>
                                <input type="text" class="form-control varchar50" id="EstadoDia" name="EstadoDia" placeholder="0=Abierto / 1=Cerrado" />
                                <div class="validation-error"><p></p></div>
                            </div>
                        </div>
                    </div>
                        <div class="form-group input-group-sm">
                            <label for="Cajero">Cajero</label>
                            <select class="selectpicker show-menu-arrow block" title="Seleccione" id="Cajero" name="Cajero">
                                <option value="cajero1">cajero1</option>
                                <option value="cajero2">cajero2</option>
                                @*<option value="nvarela">nvarela</option>*@
                            </select>
                            <div class="validation-error"><p></p></div>
                        </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" id="btnBuscar" class="btn btn-primary">Buscar</button>
                <button type="button" id="btnCerrrar" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardarDia" class="btn btn-primary">Guardar</button>
                @*<button type="button" class="btn btn-md btn-danger disabled" id="btnGenerarSolicitud">Imprimir Recibo</button>*@
            </div>
        </div>
    </div>
</div>

<!-- Modal Proyección de Plan de Pago-->
<div class="modal fade" id="Proyeccion_Plan_Pago" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="theHeader">Proyección de Plan de Pago</span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hidden_id" />
                <div id="form">
                  <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group input-group-sm">
                            <label for="montosolicitadoPr">Monto Solicitado</label>
                            <input type="text" class="form-control monto monto" id="montosolicitadoPr"  name="montosolicitadoPr" placeholder="Monto en Lempiras"  />
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group input-group-sm">
                            <label for="plazoPr">Plazo</label>
                            <input type="text" class="form-control numero" id="plazoPr" name="abreviatura" placeholder="Plazo en Meses"  />
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group input-group-sm">
                            <label for="tasainteresPr">Tasa de Interes</label>
                            <input type="text" class="form-control monto" id="tasainteresPr"  name="tasainteresPr" placeholder="Tasa de Interes" />
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group input-group-sm">
                            <label for="TipoCuotaPr">Tipo de Cuota</label>
                            <select class="selectpicker show-menu-arrow " title="Seleccione" id="TipoCuotaPr" name="TipoCuotaPr">
                                <option value="1">CUOTA FIJA</option>
                                <option value="2">DECRECIENTE</option>
                                <option value="3">VENCIMIENTO</option>
                            </select>
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group input-group-sm">
                            <label for="frecuenciapagoPr">Frecuencia de Pago</label>
                            <select class="selectpicker show-menu-arrow " title="Seleccione" id="frecuenciapagoPr" name="frecuenciapagoPr">
                                <option value="1">MENSUAL</option>
                                <option value="2">QUINCENAL</option>
                                <option value="3">SEMANAL</option>
                            </select>
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group input-group-sm">
                            <label for="Fecha">FechaPr</label>
                            <input type="text" class="form-control" id="FechaPr"  name="FechaPr" placeholder="Fecha de Desembolso" />
                            <div class="validation-error"><p></p></div>
                        </div>
                    </div>
                </div>

                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" id="btnGenerarProyeccion" class="btn btn-primary">Generar</button>
                <button type="button" id="btnCerrrar" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                @*<button type="button" id="btnGuardarDia" class="btn btn-primary">Guardar</button>*@
                @*<button type="button" class="btn btn-md btn-danger disabled" id="btnGenerarSolicitud">Imprimir Recibo</button>*@
            </div>
        </div>
    </div>
</div>

@*PLAN DE PAGO*@
<div class="modal fade" id="plan_pago_Pr" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span id="theHeader">Plan de pago</span></h4>
            </div>
            <div class="modal-body" id="form">
                <input type="hidden" id="hidden_id" />
                <input type="hidden" id="hidden_tipo_id" value="@ViewBag.TipoId" />

                <div class="col-xs-12 bac-table-panel">
                    <table id="tablePlanPagoPr" class="list-table table table-bordered">
                        <thead>
                            <tr>
                                <th>No. Pago</th>
                                <th>Fecha</th>
                                <th>Capital</th>
                                <th>Intereses</th>
                                <th>Total</th>
                                <th>Saldo</th>
                                @*<th hidden="hidden"></th>*@
                                @*<th>Codigo</th>*@

                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnImprimirPlanPago" class="btn btn-primary">Imprimir</button>
                <button type="button" id="btnCerrrar" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                @*<button type="button" id="btnPlanPago" class="btn btn-primary">Ver Plan De Pago</button>*@
            </div>
        </div>
    </div>
</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright | <img src="~/imgs/logodc1.png" height="30px" /> Infinite Solutions. &copy; @DateTime.Now.Year.</strong> All rights reserved.
</footer>

        <div class="control-sidebar-bg"></div>
    </div>


    @RenderSection("menu", required: false)

    @Scripts.Render("~/Scripts/Shared/_Layout.js")
    @Scripts.Render("~/Content/dist/js/app.js")
    @Scripts.Render("~/Scripts/jquery.bsAlerts.js")
    @Scripts.Render("~/Scripts/js/global.js")
    @Scripts.Render("~/Scripts/js/security.js")
    @Scripts.Render("~/Plugins/jquery-validate/js/jquery.validate.js")
    @Scripts.Render("~/Plugins/jquery-validate/js/jquery.validate-vsdoc.js")
    @Scripts.Render("~/Plugins/jquery-validate/js/jquery.validate.unobtrusive.js")
    @*@Scripts.Render("~/Scripts/bootbox")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/js/MantenimientoCaja.js")

    <script>
        $(document).ready(function () {
            SetUserData();
        });
    </script>

</body>
</html>
<style type="text/css">
    #MyAlerts {
        position: absolute;
        top: 500px;
        right: 0;
        width: 1000px;
        height: 1100px;
    }
</style>




